* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: #eee;
    padding: 2%;
}

.contacts {
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #333;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    max-width: 300px;
}

.contacts__form input {
    border: 0;
    outline: 0;
    padding: 2%;
    border-radius: 5px;
    box-shadow: inset 1px 1px #666;
}

.contacts__form button {
    margin-top: 10px;
    padding: 8px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 1px 1px #666;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    outline: 0;
    cursor: pointer;
}

.contacts__form button:hover {
    color: rgba(0, 0, 0, 1);
    box-shadow: inset 1px 1px 5px #666;
}

.contacts__list {
    gap: 3%;
    margin-top: 20px;
    border-top: 2px solid #ccc;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    margin-top: 2%;
    padding: 1%;
    background: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px #999;
    transition: all 0.3s ease;
    cursor: pointer;
}

.contact:hover {
    color: rgb(86, 87, 92);
    box-shadow: 5px 5px 10px #666;
}

.contact .contact__item {
    line-height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.contact__title {
    display: flex;
    gap: 10px;
}

.contact__contain {
    list-style: none;
    display: none;
}

.active {
    display: block;
}

.contact__correction {
    display: flex;
    gap: 10px;
}

.contact__remove,
.contact__edit {
    margin-top: 1%;
    font-size: 14px;
    width: 80px;
    height: 30px;
    border: 1px solid #ededed;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
    background-color: #999;
    color: #fff;
    transition: all 0.3s ease;

}

.contact__remove:hover,
.contact__edit:hover {
    background-color: #666;
}